<!DOCTYPE html>
<html>
<body>
<h1>Spritz Queries</h1>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h3>Most Frequent URL's</h3>
<%= pie_chart Spritz.group(:url).count %>

<h3>Length of Spritz</h3>
<%= bar_chart @length %>

<h3>Where in the World</h3>
<%= geo_chart Spritz.group(:country).count %>

</body>
</html>