// Place all the styles related to the spritz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  /*background-color:#999;*/
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-collapse: collapse;

}
#logo
{
	background-color:#000;
	margin-top: 0 auto;
	border: none;
}
#text
{
	position: absolute;
	top: 50px;
	right: 50px;
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 80px;
	color: #fff;
}

.bgimg
{
	width: 100%;
	position: relative;
}

#img1
{
	width: 100%;
	height: 100%;
}

h2
{
color: gray;}

h3
{color: gray;}
